/* card */
.card {
  display: flex;
  width: 230px;
  margin: 15px 0;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  color: whitesmoke;

}

.card:hover {
  color: rgb(212, 212, 212);
  border: 2px solid rgb(212, 212, 212);
}

.card-image {
  display: flex;
  background-color: white;
  width: 210px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
}

.card-image img {
  border-radius: 10px;
  width: 200px;
  height: 300px;
}


.card:hover img {
  transition: .3s ease;
  transform: scale(1.1);

}

.card-content {
  padding: 13px;
}

.card-content h5 {
  text-align: center;
}

.card-p {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.movie-badge {
  position: absolute;
  right: 0;
  z-index: 101;
}

/* modal */
.modal-content {
  display: flex;
  position: relative;
}

.modal-image {
  flex: 1;
}

.modal-body {
  flex: 1;
  flex-direction: column;
  text-align: justify;

}

.modal-image img {
  border-radius: 10px;
  display: flex;
  width: 100%;
}

/* button */
.card-button {
  margin: 0 auto;
  margin-top: -20px;
  width: 110px;
  padding: 0;
  font-family: Gumela;
  font-size: 14px;
}