/* import font */
@font-face {
  font-family: Gumela;
  src: url("../src/fonts/Gumela Regular.otf");
}

h1,
h5,
h3 {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
}

/* body */
body {
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  cursor: pointer;
  width: 150px;
  background-color: black;
  border: 1px solid white;

}

.button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;

}