/* import font */
@font-face {
  font-family: Gumela;
  src: url("../src/fonts/Gumela Regular.otf");
}

h1,
h5,
h3 {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
}

/* body */
body {
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 34px;
  border: none;
  color: black;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  cursor: pointer;
  width: 150px;

}

.button:hover {
  background-color: rgb(136, 136, 136);
}